[submodule "Ignite-Core/vendor/spdlog"]
	path = Ignite-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Ignite-Core/vendor/glm"]
	path = Ignite-Core/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Ignite-Core/vendor/glfw"]
	path = Ignite-Core/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Ignite-Core/vendor/tinyobjloader"]
	path = Ignite-Core/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
